* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*navbar*/
.navbar {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 80px;
}

.fade-in {
  background-color: #000000;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out {
  animation: fade-out 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style-type: none;
  padding-right: 60px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
}

.navbar ul .logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 42%;
  width: 180px;
  height: 47px;
  border: white;
  border-style: solid;
  margin-top: 5px;
}

.navbar ul .logo h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  color: white;
  margin-left: 5px;
  margin-top: 5px;
  font-size: medium;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.navbar ul .logo p {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 9px;
  animation: tracking-in-expand-fwd 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    1.5s both;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  color: white;
}

.navbar li a:hover {
  color: #c1b2a7;
}

/*index.php*/
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.carousel .arrow {
  position: relative;
  z-index: 190;
  left: 750px;
  top: 650px;
  background-image: url("../media/arrow.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.carousel .carousel-item {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  border: 1px solid #2e2e2e;
  top: 0;
  left: 100%;
}
.carousel .carousel-item.active {
  left: 0;
  transition: all 0.8s ease-out;
}
.carousel .carousel-item div {
  height: 100%;
}

.carousel .carousel-item .first {
  background-image: url("../media/table.jpg");
  background-attachment: fixed;
  box-shadow: inset 0px -4px 21px 0px rgba(0, 0, 0, 0.78);
}
.carousel .carousel-item .second {
  background-image: url("../media/bg3.jpg");
  background-attachment: fixed;
  box-shadow: inset 0px -4px 21px 0px rgba(0, 0, 0, 0.78);
}
.carousel .carousel-item .third {
  background-image: url("../media/bg9.jpg");
  background-attachment: fixed;
  box-shadow: inset 0px -4px 21px 0px rgba(0, 0, 0, 0.78);
}

.titel {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  background-color: black;
  box-shadow: 1px -7px 15px 5px #000000;
}

.titel h3 {
  margin-top: 30px;
  margin-bottom: 50px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
}

.favoriet {
  position: relative;
  z-index: 80;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 420px;
  background-color: black;
}

.favoriet .container_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 10px 0 80px;
}

.favoriet .container_card .button {
  background-color: #202d33;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

.favoriet .container_card h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  margin-top: 20px;
  font-size: 15px;
}

.favoriet .container_card .card_one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("../media/menu_5.jpg");
  width: 300px;
  height: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.favoriet .container_card .card_two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("../media/menu_6.jpg");
  width: 300px;
  height: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.favoriet .container_card .card_three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("../media/menu_3.jpg");
  width: 300px;
  height: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.image {
  position: relative;
  background-image: url("../media/diner4.jpg");
  height: 1600px;
  background-size: cover;
  box-shadow: inset 0px -4px 21px 0px rgba(0, 0, 0, 0.78);
}

.reserveer {
  position: relative;
  z-index: 80;
  top: 460px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: black;
  box-shadow: 5px 0px 26px 17px #000000;
}

.contact1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: black;
  color: white;
}

.contact1 .form1 {
  width: 540px;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  letter-spacing: 2px;
  font-family: Roboto, sans-serif;
  position: relative;
}
.contact1 .form1 h2 {
  margin: 10px 0;
  padding-bottom: 5px;
  width: 180px;
  border-bottom: 3px solid #c1b2a7;
  text-transform: uppercase;
  letter-spacing: 2x;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: white;
}
.contact1 .form1 input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  letter-spacing: 2px;
  font-family: Roboto, sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #c1b2a7;
  font-size: 10px;
  color: white;
}

.contact1 .form1 input:focus {
  border-bottom: 2px solid #c1b2a7;
}

.contact1 .form1 p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
}

.contact1 .form1 button {
  padding: 8px 12px;
  margin: 8px 0 0;
  letter-spacing: 2px;
  font-family: Roboto, sans-serif;
  border: 2px solid #c1b2a7;
  background: 0;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}

.contact1 .form1 button:hover {
  background: #c1b2a7;
  color: #fff;
}

.footer {
  position: relative;
  z-index: 80;
  top: 1000px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: black;
  box-shadow: 5px 0px 26px 17px #000000;
}

/*login.php*/
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #071112;
}

/*menu.php*/
.titel_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-top: 150px;
  padding-bottom: 35px;
  background-color: #071112;
}

.titel_menu h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  font-size: 30px;
}

.gerecht_titel {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  background-color: #071112;
}

.gerecht_titel h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #071112;
}

.menu .dish {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height: 350px;
  background: #f5f5f5;
  border-radius: 10px;
  margin-top: 60px;
}

.menu .dish h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  margin-top: -12px;
}

.menu .dish h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  margin-top: 16px;
}

.menu .dish img {
  width: 290px;
  margin-top: -7px;
}

.menu .dish .product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.menu .dish .desc {
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  text-transform: none;
  letter-spacing: 0;
  margin-top: 40px;
  margin-bottom: 105px;
  color: #4e4e4e;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.menu .dish button {
  background: #a6988e;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  cursor: pointer;
}

.menu .dish button:hover {
  background: white;
  transition: all 0.4s ease-in-out;
}

.menu .dish .add {
  width: 67%;
}

/*reserveren.php*/
.reserveren {
  background-color: #071112;
  width: 100%;
  height: 100vh;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}

@keyframes fade-out {
  0% {
    background-color: black;
  }
  100% {
    background-color: transparent;
  }
}
